* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #fef2e0;
  color: #333;
}

header {
  background-image: url("/header-bg.png");
  height: 695px;
  width: 100%;
  background-size: cover;
}
